.header_container 
{
	
	display: flex;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 55px;
	z-index: 1;
	background-color: white;
	align-items: center;
	justify-content: space-between;
}

.left_side
{
	display: flex;
	align-items: center;
	flex-shrink: 0px;
}

.youtube_logo
{
	width: 95px;
	height: 95px;
	margin-left: 15px;
	padding: 0px 5px;
	cursor: pointer;
}
.youtube_menu_icon
{
	width: 25px;
	
	object-fit: cover;
	margin-left: 15px;
	padding: 0px 5px;
}

.middle_side
{
	display: flex;
	align-items: center;
	flex: 1;
	margin-left: 150px;
	margin-right: 150px;
	
	
}
.youtube_search_bar
{
	flex: 1;
	width: 35px;
	height: 36px;
	border-radius: 30px 0 0 30px;
	border-style: solid;
	border-color: rgb(209, 207, 207);
	border-width: 1px;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.089);
	padding-left: 16px;
	font-size: 16px;
	max-width: 520px;

	
}



.youtube_microphone img
{
	
	height: 25px;
}

.svg-search-button
{
	height: 25px
}

.youtube_search_button
{
	width: 64px;
	height: 40px;
	border-radius: 0px 20px 20px 0px;
	border-style: solid;
	border-color: rgb(209, 207, 207);
	border-width: 1px;
	background-color: rgba(205, 205, 205, 0.135);
	margin-left: -1px;
	padding-top: 5px;
	cursor: pointer;
	transition: background-color 0.15s;
	
}

.youtube_search_bar::placeholder
{
	font-size: 16px;
}

.youtube_microphone
{
	background-color: white;
	border: none;
	margin-left: 10px;
}

.youtube-create-video, .youtube-notification
{
	
	background-color: white;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-left: 15px;
	
}

.right_side
{
	display: flex;
	align-items: center;
	margin-right: 35px;
	justify-content: space-between;
	
}

.create-logo, .notification-icon
{
	height: 24px;
	
}

.channel-image
{
	width: 32px;
	height: 32px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: 25px;
	cursor: pointer;
}

.youtube-profile-notification-count
{
	position: absolute;
	top: -1px;
	right: -5px;
	background-color: rgb(196, 14, 14);
	color: white;
	padding: 0.8px 3.5px 0.8px 3.5px;
	border-radius: 15px;
}

.youtube-notification
{
	position: relative;
}

.youtube-create-video:hover
{
	cursor: pointer;
	border-radius: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: rgba(201, 201, 201, 0.456);
}
.youtube-notification:hover
{
	cursor: pointer;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: rgba(201, 201, 201, 0.456);
}

.youtube_microphone:hover
{
	cursor: pointer;
	border-radius: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: rgba(201, 201, 201, 0.456);
}

.youtube_menu_icon:hover
{
	cursor: pointer;
	border-radius: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(201, 201, 201, 0.456);
}

.youtube_search_button:hover
{
	background-color: rgba(201, 201, 201, 0.328);
}



.youtube_search_button, 
.youtube_microphone,
.youtube-create-video,
.youtube-notification
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:  opacity 0.15s;
}

.youtube_search_button .tooltip, 
.youtube_microphone .tooltip,
.youtube-create-video .tooltip,
.youtube-notification .tooltip
{
	position: absolute;
	background-color: rgba(51, 50, 50, 0.63);
	color: white;
	padding: 10px 7px 10px 7px;
	font-size: 12px;
	border-radius: 3px;
	bottom: -60px;
	opacity: 0;
	transition:  opacity 0.15s;
	pointer-events: none;
	white-space: nowrap;
}

.youtube_search_button:hover .tooltip, 
.youtube_microphone:hover .tooltip,
.youtube-create-video:hover .tooltip,
.youtube-notification:hover .tooltip
{
	opacity: 1;
}

