.video_preview_container img
{
    width: 100%;
	height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.video_preview_container
{
    margin-bottom: 10px;
    position: relative;
}

.time_stamp
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
    right: 3px;
    bottom: 8px;
    border-radius: 4px;
}
.video_info_container
{
    display: flex;
}

.profile_img_container img
{
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 20px;
}

.profile_img_container
{
    margin-right: 12px;
}

.video_title_container
{
    display: flex;
    
}


.video_title
{
    width: 250px;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Roboto","Arial",sans-serif;
    margin-bottom: 5px;
}

.profile_name, .video_stats
{
    color: rgba(96, 96, 96, 1);
    font-size: 15px;
    
}

.profile_name
{
    margin-bottom: 2px;
}

.all_videos_container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 40px;
	margin-left: 220px;
	margin-right: 20px;
}

.video_grid_container
{
    cursor: pointer;
}